
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

*{
    box-sizing:border-box ;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}
.header-container {
    background-color: rgb(356, 100, 66);
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    height: 300px;
    border-bottom-left-radius: 50px;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-items: center;
}
.modern {
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
}
.modern p {
    color: inherit;
}
.dropbtn {
    color: white;
    display: inline-block;
}

.dropdown-content {
    display:none ;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    /* flex-direction: column; */
    background-color: white;
    /* color: black; */
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }  

  .dropdown-content a:hover {
      background-color: lightgray;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

button {
    border-radius: 16px;
    padding:10px ;
    border: 2px solid white;
    margin: 0 8px;
   font-size: 10px;
   color: white;
   background-color:  inherit;
   cursor: pointer;
}
.btn-white {
    background-color: white;
    color: rgb(356, 100, 66) ;
}

h2 {
    text-align: center;
    padding: 40px 0px 3px 0px;
}
.body1-container {
    display: flex;
    /* border: 2px solid black; */
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.editor-desktop {
    object-fit:contain;
    /* width: 50%; */
    /* height: 500px; */
    /* border: 2px solid black; */
    bottom: 50px;
    position: absolute;
    left: 70%;
    top: -10%;
    
    
    
}
.body1-text {
    width:50% ;
    padding: 40px  60px;
    
}


.body2-container {
    background-color: rgb(32, 26, 58);
    color: white;
    position: relative;
    height: 240px;
    width: 100%;
    margin: 60px 0px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}
.body2-container h3 {
    color: white;
}
.body2-container p {
    color: white;
}

.phones {
    position: absolute;
    top: -50px;
    left: 40px;
    
}
.body2-text {
    margin-left: 50%;
    padding-right: 10%;
    padding-top: 50px;
    
}
.body3-container {
    display: flex;
    position: relative;
    height: 500px;
    margin: 100px 0px;
}
.laptop-desktop {
    position: absolute;
    left: -200px;

}
.body3-text {
    margin: 100px 8% 0px 50%;
}
footer {
    background-color: rgb(22, 21, 21);
    color: white;
    border-top-right-radius: 50px;
   
}
.footer-container {
    padding: 40px 250px 40px 150px;
    display: flex;
    justify-content: space-between;
}
li {
    list-style: none;
    color: aqua;
    cursor: pointer;
}
a {
    /* color: white; */
    text-decoration: none;
}
h2, h3, p {
    color: rgb(45, 45, 94);
    line-height: 25px;
}